.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 1000;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #9ca90d;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1001;
    font-size: 30px;
}

.form-label {
    color: rgb(49, 49, 216);
}

.form-control {
    border: 1px solid rgb(49, 49, 216);
}

.modal-content {
    width: 90%;
    text-align: center;
    padding: 0;
}

.red-color {
    color: red;
}

.modal-title {
    color: blue;
    text-align: center;
    justify-content: center;
}

.modal-contentes {
    width: 90%;
    text-align: center;
    padding: 0;
}

.modal-footer {
    padding-top: 0;
    display: block;
}

.card-title {
    color: blue;
}

.card-subtitle {
    color: chocolate;
}

.card-text {
    color: darkslateblue;
    margin-top: 20px;
}

.time {
    font-size: smaller;
    color: rgb(116, 126, 133);
}