.App {
  text-align: center;
}

.container {
  margin-top: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.card {
  width: 18rem;
}

.card-body {
  /* display: flex; */
  flex-direction: column;
}

.card-text {
  flex: 1;
}

.btn {
  margin-bottom: 5px;
}

.text-center {
  color: blue;
}

.text-other {
  color: rgb(117, 152, 27);
}

.form-container {
  text-align: left;
}

.close {
  border: none;
  background-color: #fff;
  float: right;
  font-size: larger;
}